<head>
    {% load static %}
    <script src="{% static 'post_likes_popup.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="header">
        <ul class="ul">
            <li>
                <div>
                    <a href="{% url 'blog_:index' %}" class="home">BLOG</a>
                </div>
            </li>
            <li style="float:right;">
                <div class="prawa">
                    {% if user.is_authenticated %}
                    <div class="witaj">
                        <a class="kolorprawa">Witaj, {{user.username}}.</a>
                        <br>
                        <a href="{% url 'users:logout' %}" class="kolorprawa">Wyloguj</a>
                        <a class="kolorprawa">|</a>
                        <a href="{% url 'blog_:users_list' %}" class="kolorprawa">Lista użytkowników</a>
                    </div>
                    {% else %}
                    <a href="{% url 'users:login' %}" class="kolorprawa">Zaloguj</a>
                    <a class="kolorprawa">|</a>
                    <a href="{% url 'users:register' %}" class="kolorprawa">Zarejestruj</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</body>


{% block content %}{% endblock content %}