{% extends "blog_/base.html" %}

{% block content %}

<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <a href="{% url 'blog_:post' post.id %}">
            <h2 class="tytul">{{ post.title }}</h2>
            <div class="data">{{ post.date_added|date:'d/m/Y H:i' }}</div>
            {% if post.image != "" %}
            <p class="opis">{{ post.description }}</p>
            <img src="/media/{{ post.image }}" class="zdj" />
            {% endif %}
        </a>
    </li>

    {% empty %}
    <li class="brak"> Nie ma żadnych postów</li>
    {% endfor %}
</ul>

{% endblock content %}