{% extends "blog_/base.html" %}

{% block content %}
<h1 class="gura tyt"> {{ post.title }} </h1>

<p class="gura date"> {{ post.date_added|date:'d/m/Y H:i' }}</p>

<p class="postopis"> {{ post.description }} </p>

<p class="postzaw"> {{ post.content}} </p>

{% if post.image != "" %}
<img src="/media/{{ post.image }}" class="postzdj" />
{% endif %}
<div class="lajkibox">
    <div class="lajki">

        <form action="{% url 'blog_:like' post.id %}" method="post">
            {% csrf_token %}
            <button name="submit" class="like likewyg">
                {% if if_clicked %}
                Polubiono
                {% else %}
                Polub
                {% endif %}
            </button>
        </form>


        <button onclick=popup_wrapper_button_open() class="like licznik">{{ likesCount }}</button>

        <div class="post_likes_wrapper">
            {% for like in likes %}
            <a href="{% url 'blog_:userProfile' like.owner.id %}">{{ like.owner }}</a>
            {% empty %}
            Nikt nie dał like
            {% endfor %}

            <button name="submit" onclick=popup_wrapper_button_close() class="zamkniecie">zamknij</button>
        </div>
    </div>
</div>
<div class="komentarze">
    <div class="wpisywanie">
        <p> Napisz komentarz </p>

        <form action="{% url 'blog_:post' post.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit" value="xyz" class="guzikkom">Dodaj komentarz</button>
        </form>
    </div>
    <div class="sekcjakom">
        <p class="napiskom">Komentarze: </p>
        {% for comment in comments %}
        <div class="koment">

            <p><a href="{% url 'blog_:userProfile' comment.owner.id %}">{{ comment.owner }}</a> -
                {{ comment.date_added|date:'d/m/Y H:i' }}</p>
            <p>{{ comment.text|linebreaks }}</p>
            {% if request.user == comment.owner %}
            <form action="{% url 'blog_:deleteComment' post.id comment.id %}" method="post">
                {% csrf_token %}
                <button name="submit" class="usun">Usun komentarz</button>
            </form>

            {% endif %}
        </div>

        {% empty %}

        Nie ma jeszcze żadnych komentarzy, napisz pierwszy!

        {% endfor %}
    </div>
</div>

{% endblock content %}